# SYSTEM CONFIG
PORT=""
ENVIRONMENT=""

# STORAGE
UPLOADS_DIR=""

# ADMIN CONFIG
API_KEY=""

# DATABASE
DATABASE_URL=""

# MAILER
MAILER_HOST=""
MAILER_PORT=""
MAILER_SECURE=""
MAILER_USER=""
MAILER_PASS=""
MAILER_FROM_NAME=""
MAILER_FROM_EMAIL=""
MAILER_REPLY_TO=""

# AUTHENTICATION
SESSION_COOKIE_DOMAIN=""

# BACKOFFICE
BACKOFFICE_NAME=""
BACKOFFICE_URL=""
BACKOFFICE_AUTH_URL=""
BACKOFFICE_SESSION_COOKIE_NAME=""
