# SYSTEM CONFIG
PORT=""

# ADMIN CONFIG
API_KEY=""

# DATABASE
DATABASE_URL=""

# MAILER
MAILER_HOST=""
MAILER_PORT=""
MAILER_SECURE=""
MAILER_USER=""
MAILER_PASS=""
MAILER_FROM_NAME=""
MAILER_FROM_EMAIL=""
MAILER_REPLY_TO=""
